{#
/**
 * @file friend_ship.html.twig
 * Default theme implementation to present Friend ship data.
 *
 * This template is used when viewing Friend ship pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_friend_ship()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('friend_ship') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
